@model BTLPhuongTienGiaoThong.Models.TblCar
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ThemXe";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ThemXe">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarMake" class="control-label"></label>
                <select asp-for="CarMake" class ="form-control" asp-items="ViewBag.CarMake"></select>
            </div>
            <div class="form-group">
                <label asp-for="CarModel" class="control-label"></label>
                <input asp-for="CarModel" class="form-control" />
                <span asp-validation-for="CarModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YearProduction" class="control-label"></label>
                <input asp-for="YearProduction" class="form-control" />
                <span asp-validation-for="YearProduction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerDay" class="control-label"></label>
                <input asp-for="PricePerDay" class="form-control" />
                <span asp-validation-for="PricePerDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicensePlate" class="control-label"></label>
                <input asp-for="LicensePlate" class="form-control" />
                <span asp-validation-for="LicensePlate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seats" class="control-label"></label>
                <input asp-for="Seats" class="form-control" />
                <span asp-validation-for="Seats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transmission" class="control-label"></label>
                <input asp-for="Transmission" class="form-control" />
                <span asp-validation-for="Transmission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuelType" class="control-label"></label>
                <input asp-for="FuelType" class="form-control" />
                <span asp-validation-for="FuelType" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

