@model TblCar
<div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
    <div class="featured__item">
        <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-1.jpg">

            <ul class="featured__item__pic__hover">
                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                <li><a ><i class="fa fa-shopping-cart"></i></a></li>
            </ul>
        </div>
        <div class="featured__item__text">
            <h6><a asp-action="ChitietXe" asp-controller="Home" asp-route-CarID="@Model.CarId">@Model.CarModel</a></h6>
            <h5> @Model.PricePerDay/1 ngày</h5>
        </div>
    </div>
</div>